.footer {
  background-color: #161513;
  color: white;
  padding: 15px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.icons {
  display: flex;
}

.footer a {
  color: white;
  margin-left: 20px;
  transition: color 0.3s ease;
  font-size: 20px;
}

.footer a:hover {
  color: #c0c0c0;
}

.footer a:focus, .footer a:active {
  outline: none;
}

@media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  
    .copyright {
      margin-bottom: 10px;
    }
  
    .icons {
      justify-content: center;
    }
  
    .footer a {
      margin: 0 10px;
    }
}